* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* color: #777777; */
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: white;
}
html,
body {
  width: 100%;
  height: 100%;
}
.ad-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  opacity: 0.8;
}
.heading {
  position: absolute;
  top: 30%;
  background-color: #000;
  padding: 10px 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 28%;
  text-align: center; /* Added property */
}
p{
    line-height: 30px;
}
.heading h4 {
  color: white;
  letter-spacing: 8px;
}
#imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imageGallery img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}
#imageGallery img:hover{
  opacity: 0.4;

}
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
#imageGallery button{
  margin-top: 40px;
  background-color:#EAEDED;
  color: #000;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 17px;
}
h6 i{
  padding: 10px;
}
label  i{
  padding: 10px;
}
label{
  font-size: 17px;
}
a i{
  padding: 5px;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
}

.back-to-top:hover {
  background-color: #555;
  color: white;
}

.show-back-to-top {
  display: block;
}
.size i{
  font-size: 22px;
}
.map i{
  font-size: 22px;
}
/* Start media screen */
@media only screen and (max-width: 1300px) {
  .heading{
    display:none;
  }
}